<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbbsolution.owner">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.OwnerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hbbsolution.owner"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCD5w90Aa8k4ISQoPIcHQ-HsABUj2aAzns" />

        <activity android:name=".splashscreenactivity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".home.view.HomeActivity" />
        <activity android:name=".more.viet_pham.View.MoreActivity" />
        <activity android:name=".more.duy_nguyen.TermsActivity" />
        <activity android:name=".more.viet_pham.View.shareapp.ShareCodeActivity" />
        <activity android:name=".more.viet_pham.View.signin.SignInActivity" />
        <activity android:name=".more.viet_pham.View.signup.SignUp1Activity" />
        <activity android:name=".more.viet_pham.View.signup.SignUp2Activity" />
        <activity
            android:name=".more.viet_pham.View.update.UpdateUserInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".work_management.view.workmanager.WorkManagementActivity" />
        <activity android:name=".work_management.view.detail.DetailJobPostActivity" />
        <activity android:name=".work_management.view.detail.DetailJobSentRequestActivity" />
        <activity android:name=".work_management.view.detail.DetailJobPendingActivity" />
        <activity android:name=".work_management.view.detail.DetailJobDoingActivity" />
        <activity android:name=".work_management.view.jobpost.JobPostActivity" />
        <activity android:name=".work_management.view.listmaid.ListUserRecruitmentActivity" />
        <activity android:name=".history.view.CommentActivity" />
        <activity android:name=".work_management.view.payment.view.PaymentActivity" />
        <activity android:name=".history.view.HistoryActivity" />
        <activity android:name=".maid_profile.view.MaidProfileActivity" />
        <activity android:name=".history.view.DetailWorkHistoryActivity" />
        <activity android:name=".maid_near_by.view.MaidNearByActivity" />
        <activity android:name=".more.duy_nguyen.StatisticActivity" />
        <activity android:name=".more.phuc_tran.view.ContactActivity" />
        <activity android:name=".more.phuc_tran.view.AboutActivity" />
        <activity android:name=".more.phuc_tran.view.ForgotPassActivity" />
        <activity android:name=".report.view.ReportMaidActivity" />
        <activity android:name=".maid_near_by.view.filter.view.FilterActivity" />
        <activity android:name=".more.viet_pham.View.profile.ProfileActivity" />
        <activity android:name=".maid_profile.choose_maid.view.ChooseMaidActivity" />
        <activity android:name=".more.duy_nguyen.LanguageActivity" />
        <activity android:name=".more.phuc_tran.view.TermActivity" />
        <activity android:name=".more.duy_nguyen.RechargeActivity" />
        <activity android:name=".more.duy_nguyen.InfoBankActivity" />
        <activity android:name=".history.view.ListWorkActivity" />
        <activity android:name=".paymentonline.ui.activity.PaymentOnlineActivity" />
        <activity android:name=".more.viet_pham.View.update_google_face.UpdateGooAndFaceActivity" />
        <activity android:name=".paymentonline.ui.activity.CheckOutActivity" />
        <activity android:name=".paymentonline.ui.activity.CheckOrderActivity" />

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".history.view.DetailUnpaidWork"></activity>
        <activity android:name=".work_management.view.quickpost.QuickPostActivity"></activity>
        <activity android:name=".run_face.view.PhotoViewerActivity" />
    </application>

</manifest>