<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbbsolution.owner">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.OwnerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyAzSFwRry4u2KYJYq3IT_oc-w9sww5yVpY" />

        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".more.viet_pham.View.MoreActivity" />
        <activity android:name=".more.duy_nguyen.TermsActivity" />
        <activity android:name=".more.viet_pham.View.signin.SignInActivity" />
        <activity android:name=".more.viet_pham.View.signup.SignUp1Activity" />
        <activity android:name=".more.viet_pham.View.signup.SignUp2Activity" />
        <activity android:name=".work_management.view.workmanager.WorkManagementActivity" />
        <activity android:name=".work_management.view.detail.DetailJobPostActivity" />
        <activity android:name=".work_management.view.detail.DetailJobPendingActivity" />
        <activity android:name=".work_management.view.detail.DetailJobDoingActivity" />
        <activity android:name=".work_management.view.jobpost.JobPostActivity" />
        <activity android:name=".work_management.view.listmaid.ListUserRecruitmentActivity" />
        <activity android:name=".history.view.CommentActivity" />
        <activity android:name=".work_management.view.payment.PaymentActivity" />
        <activity android:name=".history.view.HistoryActivity" />
        <activity android:name=".maid_profile.view.MaidProfileActivity" />
        <activity android:name=".history.view.DetailWorkHistoryActivity" />
        <activity android:name=".maid_near_by.view.MaidNearByActivity" />
        <activity android:name=".more.duy_nguyen.StatisticActivity" />
        <activity android:name=".more.phuc_tran.ContactActivity" />
        <activity android:name=".report.view.ReportMaidActivity" />
        <activity android:name=".maid_near_by.view.filter.view.FilterActivity" />

        <activity android:name=".history.view.DetailLiabilitiesHistory"></activity>
    </application>

</manifest>