<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbbsolution.owner">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyAzSFwRry4u2KYJYq3IT_oc-w9sww5yVpY" />


        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".more.viet_pham.MoreActivity" />
        <activity android:name=".more.duy_nguyen.TermsActivity" />
        <activity android:name=".more.viet_pham.SignInActivity" />
        <activity android:name=".more.viet_pham.SignUp1Activity" />
        <activity android:name=".more.viet_pham.SignUp2Activity" />
        <activity android:name=".work_management.WorkManagementActivity" />
        <activity android:name=".work_management.view.DetailJobPostActivity" />
        <activity android:name=".work_management.view.DetailJobPendingActivity" />
        <activity android:name=".work_management.view.DetailJobDoingActivity" />
        <activity android:name=".work_management.view.JobPostActivity" />
        <activity android:name=".work_management.view.ListUserRecruitmentActivity" />
        <activity android:name=".history.view.HistoryActivity"/>
        <activity android:name=".maid_profile.view.MaidProfileActivity" />
        <activity android:name=".history.view.DetailWorkHistoryActivity"></activity>
        <activity android:name=".maid_near_by.view.MaidNearByActivity"/>
    </application>

</manifest>